* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}


body {

    margin:0;
    height:100vh;
    overflow:hidden;

    color:white;

}


/* =========================
   BOOT SCREEN
========================= */


#boot {

    position:fixed;

    inset:0;

    background:#050505;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:9999;

}


.logo {

    width:90px;
    height:90px;

    border-radius:25px;

    background:white;

    color:black;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:60px;

    font-weight:bold;

}



#boot h1 {

    font-size:45px;

    margin:20px;

}




.progress {

    width:300px;

    height:8px;

    background:#333;

    border-radius:20px;

    overflow:hidden;

}



.progress div {

    height:100%;

    width:0%;

    background:white;

    animation:
    bootLoad 3s forwards;

}



@keyframes bootLoad {


    to {

        width:100%;

    }

}







/* =========================
 LOGIN
========================= */


#login {


    display:none;


    position:fixed;

    inset:0;


    justify-content:center;

    align-items:center;


    background:

    linear-gradient(
    135deg,
    #1b8cff,
    #6b35d8
    );


}



.login-card {


    width:350px;

    padding:40px;


    text-align:center;


    background:

    rgba(255,255,255,.18);



    backdrop-filter:

    blur(30px);



    border-radius:25px;



}



.profile {

    font-size:90px;

}



.login-card button {


    width:100%;


    padding:14px;


    border:none;


    border-radius:15px;


    cursor:pointer;


    font-size:18px;


}







/* =========================
 DESKTOP
========================= */


#desktop {


    display:none;


    height:100vh;


    padding:30px;



    background:

    linear-gradient(

    135deg,

    #0078d7,

    #4b2c91

    );


}



.desktop-icon {


    width:100px;


    text-align:center;


    font-size:45px;


    cursor:pointer;


    margin-bottom:35px;


    transition:.2s;


}



.desktop-icon:hover {


    transform:

    scale(1.1);


}



.desktop-icon span {


    display:block;

    font-size:14px;


}







/* =========================
 TASKBAR
========================= */


#taskbar {


    position:fixed;


    bottom:0;


    left:0;


    width:100%;


    height:70px;



    display:flex;


    justify-content:center;


    align-items:center;



    gap:10px;



    background:

    rgba(255,255,255,.35);



    backdrop-filter:

    blur(30px);



}



#taskbar button {


    width:45px;

    height:45px;


    border:none;


    border-radius:12px;


    background:

    rgba(255,255,255,.75);


    cursor:pointer;


    font-size:20px;


}



#clock {


    position:absolute;


    right:25px;


    color:white;


}







/* =========================
 START MENU
========================= */


#start-menu {


    display:none;


    position:fixed;


    bottom:90px;


    left:50%;


    transform:

    translateX(-50%);



    width:500px;



    padding:30px;



    border-radius:25px;



    background:

    rgba(255,255,255,.55);



    backdrop-filter:

    blur(35px);



    color:black;


}



#start-menu input {


    width:100%;


    padding:15px;


    border:none;


    border-radius:12px;


}



.apps {


    margin-top:20px;


    display:flex;


    gap:15px;


}



.apps button {


    flex:1;


    padding:20px;


    border:none;


    border-radius:15px;


    cursor:pointer;


}








/* =========================
 WINDOWS
========================= */


.os-window {


    position:absolute;


    width:600px;


    height:400px;



    background:

    rgba(255,255,255,.85);



    backdrop-filter:

    blur(25px);



    border-radius:20px;



    color:black;



    box-shadow:

    0 25px 80px rgba(0,0,0,.5);



    overflow:hidden;


    animation:

    openWindow .2s;


}




@keyframes openWindow {


from {

    opacity:0;

    transform:scale(.9);

}


to {

    opacity:1;

    transform:scale(1);

}


}



.window-title {


    height:45px;


    padding:10px 15px;


    display:flex;


    justify-content:space-between;


    align-items:center;


    background:

    rgba(255,255,255,.5);


    cursor:move;


}



.window-title button {


    border:none;


    background:none;


    cursor:pointer;


}



.window-body {


    padding:20px;


}
