* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}


body {

    margin:0;
    height:100vh;
    overflow:hidden;

}







/* =====================
BOOT
===================== */


#boot {

    position:fixed;

    inset:0;

    background:#050505;

    color:white;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    z-index:9999;

}


.windows-logo {

    font-size:90px;

}


#boot h1 {

    font-size:48px;

}



.loading {

    width:280px;

    height:8px;

    background:#333;

    border-radius:20px;

    overflow:hidden;

}



.loading div {

    height:100%;

    width:0;

    background:white;

    animation:load 3s forwards;

}



@keyframes load {

    to {

        width:100%;

    }

}








/* =====================
LOGIN
===================== */


#login {

    display:none;

    position:fixed;

    inset:0;


    background:

    linear-gradient(
        135deg,
        #0067c0,
        #6b36c9
    );


    justify-content:center;

    align-items:center;

}



.login-card {


    width:360px;


    padding:40px;


    text-align:center;



    background:

    rgba(255,255,255,.18);



    backdrop-filter:

    blur(30px);



    border-radius:25px;


    color:white;


}



.avatar {

    font-size:90px;

}



.login-card button {


    width:100%;


    padding:14px;


    border:none;


    border-radius:12px;


    cursor:pointer;


    font-size:18px;


}









/* =====================
DESKTOP
===================== */


#desktop {


    display:none;


    height:100vh;


    padding:35px;


    color:white;


    background:

    linear-gradient(
        135deg,
        #0078d4,
        #4b2c91
    );


}



.icon {


    width:90px;


    text-align:center;


    font-size:45px;


    cursor:pointer;


    margin-bottom:30px;


    transition:.2s;


}



.icon:hover {


    transform:scale(1.1);


}



.icon span {


    display:block;

    font-size:14px;


}









/* =====================
TASKBAR
===================== */


#taskbar {


    position:fixed;


    bottom:0;


    left:0;


    width:100%;


    height:65px;



    display:flex;


    align-items:center;


    justify-content:center;



    gap:10px;



    background:

    rgba(255,255,255,.35);



    backdrop-filter:

    blur(25px);


}



#taskbar button {


    width:45px;


    height:45px;


    border:none;


    border-radius:12px;


    background:

    rgba(255,255,255,.8);


    cursor:pointer;


    font-size:20px;


}




#clock {


    position:absolute;


    right:25px;


    color:white;


}








/* =====================
START MENU
===================== */


#startMenu {


    display:none;


    position:fixed;


    bottom:80px;


    left:50%;


    transform:translateX(-50%);



    width:500px;



    padding:25px;



    border-radius:25px;



    background:

    rgba(255,255,255,.65);



    backdrop-filter:

    blur(35px);



    color:black;



}



#startMenu input {


    width:100%;


    padding:14px;


    border:none;


    border-radius:12px;


}



.start-grid {


    margin-top:20px;


    display:grid;


    grid-template-columns:

    repeat(2,1fr);


    gap:15px;


}



.start-grid button {


    padding:25px;


    border:none;


    border-radius:15px;


    cursor:pointer;


}









/* =====================
WINDOWS
===================== */


.os-window {


    position:absolute;


    width:650px;


    height:420px;



    background:

    rgba(255,255,255,.85);



    backdrop-filter:

    blur(30px);



    border-radius:20px;



    overflow:hidden;


    color:black;



    box-shadow:

    0 25px 80px rgba(0,0,0,.45);


}



.window-header {


    height:45px;


    display:flex;


    align-items:center;


    justify-content:space-between;


    padding:0 15px;


    background:

    rgba(255,255,255,.55);



    cursor:move;


}



.window-header button {


    border:none;


    background:none;


    cursor:pointer;


    font-size:18px;


}



.window-body {


    padding:20px;


}



textarea,
input {


    border-radius:10px;

    border:1px solid #ccc;

    padding:10px;

}
